""" Flask application """
from flask_sqlalchemy import SQLAlchemy
from flask_marshmallow import Marshmallow

from flask_jwt_simple import JWTManager

from microutils.factory.flask import create_app
from micro_player.resources.player import api as player

db = SQLAlchemy()
ma = Marshmallow()
jwt = JWTManager()

_SERVER_CONFIG = {
    'host': '127.0.0.1',
    'port': 5005
}

SERVICE_NAME = '{{ name }}'

if __name__ == '__main__':
    app = create_app(name=SERVICE_NAME, namespaces=[player], db=db, ma=ma,
                     jwt=jwt, kwargs=_SERVER_CONFIG)
    app.run(**_SERVER_CONFIG)
